<div class="container-fluid mt-5 about-style" id="aboutId">
       <div class="row">

          <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">About us</h1>
             <p class="text-center sub-heading">Grow your business with us</p>

            <div class="row">
                   {{!-- Left side --}}
               <div class="col-md-6 col-12 hero-text ">
                 <figure>
                    <img src="images/about.svg" alt="herosectionimage">
                 </figure>
               </div>

                {{!-- Right side --}}

                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">


                 <h1>WE Are The Professional Devlopers</h1>
                 <P>Welcome to <span class="bold-style">My Website</span>,Your Number one Source For all things. We're Dedicated To Giving you The Very Best Work.
                 Thank you </P>
                 <button class="btn-style btn-primary">Read More</button>
              </div>


             </div>
           </div>
       </div>
    </div>
