<div class="container-fluid mt-5 about-style" id="gallery">
       <div class="row">

          <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">Gallery</h1>
             <p class="text-center sub-heading">See our work</p>

            <div class="row">
                   {{!-- Left side --}}
               <div class="col-md-4 col-12 hero-text ">
                 <figure>
                    <img src="images/tindog01.png" alt="herosectionimage" style="width: 100%; margin:10%">
                 </figure>
               </div>

                {{!-- Right side --}}
                <div class="col-md-4 col-12 hero-text ">
                  <figure>
                     <img src="images/weather1.png" alt="herosectionimage" style="width: 100%; margin:10%">
                  </figure>
                </div>

                <div class="col-md-4 col-12 hero-text ">
                  <figure>
                     <img src="images/space.png" alt="herosectionimage"style="width: 100%; margin:10%">
                  </figure>
                </div>

                <div class="col-md-4 col-12 hero-text ">
                  <figure>
                     <img src="images/Dicee.png" alt="herosectionimage" style="width: 100%; margin:10%">
                  </figure>
                </div>

                <div class="col-md-4 col-12 hero-text ">
                  <figure>
                     <img src="images/portfolio.png" alt="herosectionimage" style="width: 100%; margin:10%">
                  </figure>
                </div>

                <div class="col-md-4 col-12 hero-text ">
                  <figure>
                     <img src="images/weather2.png" alt="herosectionimage" style="width: 100%; margin:10%">
                  </figure>
                </div>

             </div>
           </div>
       </div>
    </div>
